*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
}

body {
  margin: 0px;
  padding: 0px;
  background-color: #111;
  font-family: verdana, helvetica, sans-serif;
  text-align: center;
}

img {
  border: 0;
}

img.icon {
  margin: 10px auto;
}

.finger {
  background: url(/img/finger.svg) center 30px no-repeat;
  background-size: 100%;
  height: 345px;
  width: 340px;
  line-height: 1.6em;
}

.flex {
  display: flex;
}

.flex-inline {
  display: inline-flex;
}

.flex-column {
  flex-direction: column;
}

.flex-row {
  flex-direction: row;
}

.flex-center {
  align-items: center;
  justify-content: center;
}

.flex-start {
  align-items: flex-start;
  justify-content: flex-start;
}

.flex-end {
  align-items: flex-end;
  justify-content: flex-end;
}

.flex-space-between {
  justify-content: space-between;
}

.flex-space-around {
  justify-content: space-around;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-nowrap {
  flex-wrap: nowrap;
}

.flex-grow {
  flex-grow: 1;
}

.flex-shrink {
  flex-shrink: 1;
}

.flex-basis {
  flex-basis: auto;
}

.flex-auto {
  flex: 1 1 auto;
}

.flex-none {
  flex: none;
}

.flex-1 {
  flex: 1;
}

.flex-2 {
  flex: 2;
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.mt-30 {
  margin-top: 30px;
}

.mt-60 {
  margin-top: 60px;
}

.header {
  background: #000 url(/img/header_introvert.webp) top left no-repeat;
  background-size: cover;
  cursor: grab;
  margin: 0px;
  min-height: 175px;
  min-width: 280px;
  overflow: hidden;
  opacity: .5;
  padding: 0px;
  position: relative;
  text-align: left;
  width: 100%;
  transition: 0.3s;
  transition-timing-function: ease;
}

.header:hover {
  background-image: url(/img/header_extrovert.webp);
  opacity: .8;
  transition: 0.5s;
  transition-timing-function: ease;
}

.mobile-only {
  display: block;
}

.mobileBio {
  margin: -10px 30px 10px 30px;
}

.footer {
  text-align: center;
  margin: 70px auto 30px auto;
}

.embedding~.footer {
  margin: 30px auto 0px auto;
}

.embedding~.footer .lockish {
  display: none;
}

.hideFooter~.footer {
  display: none
}

.embedding .navUrl {
  display: none;
}

.content {
  min-width: 280px;
  max-width: 700px;
  margin: 0 auto;
  padding: 0 20px;
}

.embedCodeContainer {
  color: #666;
  display: block;
  margin: 0 auto;
  word-wrap: break-word;
  text-align: center;
  width: 90%;
  max-width: 800px;
}

.embedCode {
  border: 3px solid #777;
  border-radius: 3px;
  color: #666;
  display: block;
  margin: 0 auto;
  min-height: 85px;
  padding: 8px;
  text-align: left;
}

a {
  color: #ccc;
  text-decoration-color: #222;
  transition: 0.22s;
  transition-timing-function: ease;
}

a:active:not(.discreet) {
  color: #fff;
  border-bottom: 1px #fff dotted;
  transition: 0.1s;
}

a:hover:not(:active):not(.discreet) {
  color: #dedede;
  border-bottom: 1px #9c9c9c dotted;
  transition: 0.1s;
}

input:focus-visible {
  outline: none;
}

a:focus-visible {
  outline: none;
  border-bottom: 1px #9c9c9c dotted;
}

button,
button:active,
button:focus,
button:focus-visible {
  border-style: none;
  outline: none;
}

.question a,
a.question {
  cursor: alias;
}

p {
  font-size: 11pt;
}

.lockish {
  user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.small {
  cursor: auto;
  font-size: 9pt;
  line-height: 13pt;
  letter-spacing: 1.77px;
}

.large {
  font-size: 17pt;
}

.dark {
  color: #666;
}

input.dark {
  background-color: #111;
  border: 2px solid #222;
  color: #aaa;
  border-radius: 10px;
  display: block;
  margin: 2px auto;
  padding: 4px 10px;
  text-align: center;
}

.hoverdark:hover {
  color: #666;
  transition: 0.3s;
  transition-timing-function: ease;
}

.light {
  color: #ddd;
}

.hoverlight:hover {
  color: #ddd;
  transition: 0.44s;
  transition-timing-function: ease;
}

.medium {
  color: #333;
}

.hovermedium:hover {
  color: #333;
}

h1 {
  color: #ebebeb;
  font-size: 21pt;
  font-weight: bold;
  margin: 20px 0 10px 0;
}

h2 {
  Color: #111;
  margin: 10px 0 5px 0;
  font-size: 16pt;
  Font-weight: semi-bold;
}

h3 {
  Color: #eee;
  margin: 8px 0 4px 0;
  font-size: 14pt;
  Font-weight: semi-bold;
}

h4 {
  color: #444;
  font-size: 13pt;
  margin: 20px 0 10px 0;
}

ul.list {
  padding: 20px 24px;
  text-align: left;
  list-style-type: none;
}

ul.list li.link {
  padding-bottom: 7px;
  padding-top: 7px;
  text-align: center;
}

ul.list li:last-child {
  margin-bottom: 2px;
}

ul.narrow,
div.narrow {
  background-color: #010101;
  border: 3px dashed #111;
  border-radius: 16px;
  margin: 0px auto;
  max-width: 275px;
  transition: 0.6s;
  transition-timing-function: ease;
}

ul.narrow:hover,
div.narrow:hover {
  background-color: #101010;
  border: 3px dashed #333;
  transition: 0.5s;
  transition-timing-function: ease;
}

.bsd {
  background: url(/img/bsd_introvert.webp) center center no-repeat;
  background-size: 3%;
  box-sizing: content-box;
  border: 3px dashed #222;
  border-radius: 77%;
  display: block;
  height: 77px;
  width: 77px;
  margin: 47px auto 27px auto;
  padding: 80px;
  opacity: 1.0;
  transition: 0.9s;
  transition-timing-function: ease;
}

.bsd:hover {
  background-size: 92%;
  border: 3px dashed #fff;
  cursor: url(/img/bsd_cursor.webp) 50 50, progress;
  opacity: 0.2;
  transition: 0.3s;
  transition-timing-function: ease;
}

.cassette {
  user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.cassette:hover .artistBio {
  opacity: 100%;
  max-height: 800px;
  transition: max-height 0.6s ease-in-out, opacity 0.3s;
}

.haiku-today {
  color: #999;
  transition: 0.8s;
  transition-timing-function: ease;
}

.haiku-today:hover {
  color: #eee;
  transition: 0.5s;
  transition-timing-function: ease;
}

.haiku-tomorrow {
  margin-bottom: 30px;
  transition: 0.7s;
  transition-timing-function: ease;
}

.hoverlight.small:hover {
  cursor: help;
}

.hoverborder {
  border-bottom: 4px solid #123;
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
  transition: 0.5s;
  transition-timing-function: ease;
}

.hoverborder:hover {
  border-color: #321;
  transition: 0.9s;
}

.selectable {
  cursor: copy;
}

.selectable::selection,
.selectable span::selection,
.selectable a::selection {
  color: white;
  background: #333;
}

.selectable::-moz-selection,
.selectable span::-moz-selection,
.selectable a::-moz-selection {
  color: white;
  background: #333;
}

.navigation {
  color: #aaa;
  font-size: 11px;
  margin-bottom: 15px;
  margin-top: 5px;
}

.navigation .protocol {
  color: #666;
}

.navigation a {
  text-decoration: none;
}

.navigation a:hover:not(:active) {
  cursor: url(/img/bsd_cursor_invert.webp) 20 20, progress;
}

.demo {
  padding-bottom: 15px;
  padding-top: 15px;
}

.demo a {
  color: rgb(21, 124, 143);
  cursor: crosshair;
  opacity: 0.8;
  text-decoration: none;
  transition: 0.22s;
  transition-timing-function: ease;
}

.demo a:hover:not(:active) {
  color: rgb(31, 194, 167);
  opacity: 1.0;
  transition: 0.22s;
}

.demo a:active,
.demo a:focus {
  color: rgb(55, 211, 185);
  opacity: 1.0;
  transition: 0.22s;
}

.digitalhaiku {
  padding-top: 15px;
  padding-bottom: 15px;
}

.digitalhaiku a {
  color: rgb(90, 26, 175);
  cursor: crosshair;
  text-decoration: none;
  transition: 0.4s;
  transition-timing-function: ease;
}

.digitalhaiku a:hover:not(:active) {
  color: rgb(143, 0, 239);
  transition: 0.2s;
}

.digitalhaiku a:active,
.digitalhaiku a:focus {
  color: rgb(173, 50, 255);
  transition: 0.2s;
}

.rylab-copy {
  color: #666;
  margin: 0px auto;
  opacity: 0.1;
  padding-top: 17px;
  transition: 0.9s;
  transition-timing-function: ease;
}

.rylab-copy:hover:not(:active) {
  cursor: all-scroll;
  color: #bbb;
  opacity: 1.0;
  transition: 0.3s;
}

.crosshair {
  cursor: crosshair;
  opacity: 50%;
  transition: 0.9s;
  transition-timing-function: ease;
}

.crosshair:hover {
  opacity: 90%;
  transition: 0.3s;
}

.saxylab {
  padding: 15px 0;
}

.saxylab a {
  color: #319c00;
  cursor: crosshair;
  opacity: 0.6;
  padding-top: 5px;
  text-decoration: none;
  transition: 0.42s;
  transition-timing-function: ease;
}

.saxylab a:active,
.saxylab a:focus {
  color: rgb(107, 221, 103);
  opacity: 1.0;
  transition: 0.2s;
}

.saxylab a:hover:not(:active) {
  color: rgb(5, 160, 0);
  opacity: 1.0;
  transition: 0.2s;
}

hanko-auth,
hanko-profile {
  /* Color Scheme */
  --color: #efefef;
  --color-shade-1: #777;
  --color-shade-2: #666;

  --brand-color: #7a27d8;
  --brand-color-shade-1: #53afff;
  --brand-contrast-color: #fff;

  --background-color: none;
  --error-color: #e82020;
  --link-color: #26FFFF;

  /* Border Styles */
  --border-radius: 15px;
  --border-width: 2px;

  /* Item Styles */
  --item-height: 34px;
  --item-margin: 0.5rem 0;

  /* Container Styles */
  --container-padding: 30px;
  --container-max-width: 410px;

  /* Headline Styles */
  --headline1-font-size: 24px;
  --headline1-font-weight: 600;
  --headline1-margin: 0 auto 1rem auto;

  --headline2-font-size: 16px;
  --headline2-font-weight: 600;
  --headline2-margin: 1rem 0 0.5rem;

  /* Divider Styles */
  --divider-padding: 0 42px;
  --divider-visibility: visible;

  /* Link Styles */
  --link-text-decoration: none;
  --link-text-decoration-hover: underline;

  /* Input Styles */
  --input-min-width: 14em;

  /* Button Styles */
  --button-min-width: max-content;
}

@media(min-width: 569px) {
  .bsd {
    max-width: 250px;
    padding: 15%;
  }

  .header {
    background-position: 0px 0px;
    border-radius: 17px;
    height: 255px;
    margin: 27px auto 7px auto;
    max-width: 500px;
  }

  .hoverborder {
    border: 4px solid #123;
  }

  .mobile-only {
    display: none;
  }

  .navigation {
    font-size: 12px;
    margin-bottom: 20px;
    margin-top: 10px;
  }

  ul.narrow,
  div.narrow {
    max-width: 300px;
  }

  div.narrow.list {
    padding-top: 18px;
    padding-bottom: 18px;
  }

  ul.list {
    padding: 16px 18px;
    text-align: left;
  }

  ul.list li {
    margin-bottom: 15px;
  }
}

@media(min-width: 1017px) {
  .header {
    background-position: 0px -40px;
    border-radius: 0;
    margin: 0 0 10px 0;
    max-width: 100%;
  }

  .hoverborder {
    border-bottom: 4px solid #123;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
  }

  .navigation {
    font-size: 13px;
  }

  .rylab-image {
    margin-left: 11%;
    opacity: 77%;
  }
}

@media(min-width: 1317px) {
  .footer {
    text-align: right;
    margin: 80px 50px 30px 0px;
  }

  .adminCheck input {
    margin: 20px 0 0 auto;
  }

  .header {
    background-position: 0px -70px;
  }

  .navigation {
    font-size: 14px;
  }

  .rylab-image {
    margin-left: 21%;
    opacity: 69%;
  }
}

body:after {
  content: url(/img/header_introvert.webp) url(/img/bsd_cursor.webp) url(/img/bsd_cursor_invert.webp);
  display: none;
}

/* Light mode */
@media (prefers-color-scheme: light) {
  body {
    background-color: #ddd;
  }

  .header {
    background: #eee url(/img/header_extrovert.webp) top left no-repeat;
    background-size: cover;
  }
  
  .header:hover {
    background-image: url(/img/header_introvert.webp);
  }

  .haiku-today:hover {
    color: #555;
  }

  ul.list li.link a {
    color: #000;
  }

  ul.narrow,
  div.narrow {
    color: #101010;
    background-color: #fff;
    border: 3px dashed #777;
  }

  ul.narrow:hover,
  div.narrow:hover {
    background-color: #fefefe;
    border: 3px dashed #777;
    transition: 0.5s;
    transition-timing-function: ease;
  }

  .footer .light a {
    color: #222;
  }

  a:hover:not(:active):not(.discreet) {
    color: #111;
  }
}