*, *::after, *::before {
  box-sizing: border-box;
}

html {
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
}

body {
  margin: 0px;
  padding: 0px;
  background-color: #111;
  font-family: verdana, helvetica, sans-serif;
  text-align: center;
}

img {
  border: 0;
}

img.icon {
  display: block;
  margin: 20px auto;
  width: 32px;
}

#header {
  background: #000 url(/img/header_extrovert.png) top left no-repeat;
  background-size: cover;
  cursor: grab;
  margin: 0px;
  min-height: 175px;
  min-width: 320px;
  overflow: hidden;
  opacity: 1.0;
  padding: 0px;
  position: relative;
  text-align: left;
  width: 100%;
  transition: background-imaage 0.2s;
  transition: background-position 1.0s;
  transition-timing-function: ease;
}
  #header:hover {
    background-image: url(/img/header_introvert.png);
    opacity: .77;
    transition: background-image 0.5s;
  }

#footer {
  margin: 50px auto 30px auto;
}

#content {
  min-width: 300px;
  max-width: 700px;
  margin: 0 auto;
  padding: 0 20px;
}

a {
  color: #ccc;
  text-decoration-color: #222;
  transition: 0.22s;
  transition-timing-function: ease;
}
  a:active:not(.discreet) {
    color: #fff;
    text-decoration-color: #fff;
    border-bottom: 1px #eee dotted;
    transition: 0.22s;
  }
  a:hover:not(.discreet) {
    color: #dedede;
    text-decoration-color: #dedede;
    border-bottom: 1px #ccc dotted;
    transition: 0.22s;
  }
  a:visited:not(:hover) {
    color: #aaa;
  }
  a.question {
    cursor: alias;
  }
p {
  font-size: 11pt;
}
  .lockish {
    user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
  }
  .small {
    cursor: auto;
    font-size: 9pt;
    line-height: 13pt;
  }
  .large {
    font-size: 17pt;
  }
  .dark {
    color: #666;
  }
  .hoverdark:hover {
    color: #666;
  }
  .light {
    color: #ddd;
  }
  .hoverlight:hover {
    color: #ddd;
    transition: 0.44s;
    transition-timing-function: ease;
  }
  .medium {
    color: #333;
  }
  .hovermedium:hover {
    color: #333;
  }

h1 {
  color: #ebebeb;
  font-size: 21pt;
  font-weight: bold;
  margin: 20px 0 10px 0;
}
h2 {
  Color: #111;
  margin: 10px 0 5px 0;
  font-size: 16pt;
  Font-weight: semi-bold;
}
h3 {
  Color: #eee;
  margin: 8px 0 4px 0;
  font-size: 14pt;
  Font-weight: semi-bold;
}
h4 {
  color: #222;
  font-size: 13pt;
  margin: 1px 0 2px 0;
}

ul.list {
  padding: 20px 24px;
  text-align: left;
  list-style-type: none;
}
  ul.list li.link {
    margin-bottom: 20px;
    text-align: center;
  }
  ul.list li:last-child {
    margin-bottom: 2px;
  }
    ul.list li.link a {
      display: inline-block;
      padding-bottom: 3px;
      width: 100%;
    }
    ul.list li.link a:active, ul.list li.link a:hover {
      border-bottom: none;
    }

ul.narrow {
  border: 3px dashed #222;
  border-radius: 16px;
  margin: 10px auto;
  max-width: 377px;
  transition: border 0.3s;
  transition-timing-function: ease;
}
  ul.narrow:hover {
    background-color: #121212;
    border: 3px dashed #555;
    transition: border 0.5s;
    transition-timing-function: ease;
  }

#aeq, #aeq:hover {
  border-bottom: none;
  text-decoration: none;
}

.bsd {
  background: url(/img/bsd_introvert.png) center center no-repeat;
  background-size: 3%;
  box-sizing: content-box;
  opacity: 1.0;
  border: 3px dashed #222;
  border-radius: 77%;
  display: block;
  height: 77px;
  margin: 47px auto 27px auto;
  width: 77px;
  transition: 0.9s;
  transition-timing-function: ease;
}
  .bsd:hover {
    background-size: 92%;
    border: 3px dashed #fff;
    cursor: url(/img/bsd_cursor.png) 50 50, progress;
    opacity: 0.2;
    transition: 0.3s;
    transition-timing-function: ease;
  }

.cassette {
  user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.hoverlight.small:hover {
  cursor: help;
}

.hoverborder {
  border: 4px solid #123;
  transition: border 0.5s;
  transition-timing-function: ease;
}
  .hoverborder:hover {
    border: 4px solid #321;
    transition: border 0.9s;
    transition-timing-function: ease;
  }

.selectable {
  cursor: copy;
}

.selectable::selection,
.selectable span::selection,
.selectable a::selection {
  color: white;
  background: #333;
}

.selectable::-moz-selection,
.selectable span::-moz-selection,
.selectable a::-moz-selection {
  color: white;
  background: #333;
}

#navigation {
  color: #aaa;
  margin-bottom: 15px;
  margin-top: 25px;
}
  #navigation .protocol {
    display: none
  }

  #navigation a {
    text-decoration: none;
  }
  #navigation a:hover {
    cursor: url(/img/bsd_cursor_invert.png) 20 20, progress;
  }

.demo {
  margin-top: 25px;
}
  .demo a {
    color: rgb(21, 124, 143);
    cursor: crosshair;
    opacity: 0.6;
    text-decoration: none;
    transition: 0.22s;
    transition-timing-function: ease;
  }
  .demo a:hover {
    color: rgb(31, 194, 167);
    opacity: 1.0;
    transition: 0.22s;
  }
  .demo a:active, .demo a:focus {
    color: rgb(31, 194, 167);
    opacity: 1.0;
    transition: 0.22s;
  }
  
  #digitalhaiku {
    margin-top: 20px;
  }
  #digitalhaiku a {
    color: rgb(58, 14, 116);
    cursor: crosshair;
    text-decoration: none;
    transition: 0.2s;
    transition-timing-function: ease;
  }
  #digitalhaiku a:hover {
    color: rgb(136, 0, 226);
    transition: 0.2s;
  }
  #digitalhaiku a:active, #digitalhaiku a:focus {
    color: rgb(136, 0, 226);
    transition: 0.2s;
  }

.rylab {
  background-image: url(/img/rylab_introvert.png);
  background-position: 0px 0px;
  background-size: contain;
  opacity: 77%;
  position: absolute;
  bottom: 0;
  left: 0;
  min-height: 20px;
  max-width: 97%;
  transition: background-image 0.7s;
  transition: background-position 0.3s;
  transition-timing-function: ease;
}

#rylab {
  color: #255;
  margin: 0px auto;
  opacity: 0.1;
  padding-top: 17px;
  transition: 0.9s;
  transition-timing-function: ease;
}
  #rylab:hover {
    cursor: all-scroll;
    color: #777;
    opacity: 1.0;
    transition: 0.3s;
  }

.crosshair {
  cursor: crosshair;
  opacity: 50%;
  transition: 0.9s;
  transition-timing-function: ease;
}
  .crosshair:hover {
    opacity: 90%;
    transition: 0.3s;
  }

#saxylab {
  margin: 25px auto 0px auto;
}
  #saxylab a {
    color: #319c00;
    cursor: crosshair;
    opacity: 0.5;
    padding-top: 5px;
    text-decoration: none;
    transition: 0.42s;
    transition-timing-function: ease;
  }
    #saxylab a:active, #saxylab a:focus {
      color: rgb(107, 221, 103);
      opacity: 1.0;
      transition: 0.2s;
    }
    #saxylab a:hover {
      color: rgb(5, 160, 0);
      opacity: 1.0;
      transition: 0.2s;
    }

/* responsive core */
@media(max-width: 568px) {
  .bsd {
    padding: 80px;
  }
  ul.narrow {
    max-width: 220px;
  }
}

@media(min-width: 569px) and (max-width: 1016px) {
  #content {
    padding: 0 7%;
  }
  #header {
    background-position: 0px 0px;
    border-radius: 17px;
    height: 255px;
    margin: 27px auto 7px auto;
    max-width: 500px;
  }
  ul.narrow {
    max-width: 222px;
  }
  ul.list {
    padding: 16px 18px;
    text-align: left;
  }
    ul.list li {
      margin-bottom: 15px;
    }
  .bsd {
    max-width: 250px;
    padding: 15%;
  }
}

@media(min-width: 1017px) and (max-width: 1316px) {
  #header {
    background-position: 0px -40px;
  }

  .bsd {
    padding: 16%;
  }

  .rylab {
    margin-left: 10%;
  }
}

@media(min-width: 1317px) {
  #header {
    background-position: 0px -70px;
  }

  .bsd {
    padding: 17%;
  }

  .rylab {
    margin-left: 20%;
  }
}

body:after {
  content: url(/img/header_introvert.png) url(/img/bsd_cursor.png) url(/img/bsd_cursor_invert.png);
  display: none;
 }
